section.page
  header(role='banner')
    h1 Labelr
  div
    p We label stuff for you, because, we can&trade;
    a.button.button-large(href='/login')
      span.mega-octicon.octicon-mark-github
      |  Login with GitHub
